NOTIFICATION_DATABASE_URL=postgresql://eventbooking:eventbooking123@localhost:5432/notification_db
NEON_NOTIFICATION_DATABASE_URL=postgresql://eventbooking:eventbooking123@ep-cool-darkness-123456.us-east-2.aws.neon.tech/notification_db?sslmode=require
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
FCM_SERVER_KEY=
PORT=3008
